<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>研究室登録フォーム</title>
</head>
<body>
    <p>以下の内容で登録しました。</p>
    <p>このブラウザを閉じてください。</p>
    <table>
        <tr>
            <th>氏　　名: </th>
            <th>{{ post.name }}</th>
        </tr>
        <tr>
            <th>指導教員: </th>
            <th>{{ post.teacher }}</th>
        </tr>
    </table>
</body>
</html>